<div class="container">
  <div class = "row">
    <div class = "center-block">
      <div class = "card">
        <div class="card-body">
          <h1 class="center-align">Log in</h1>
          <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
              <label for="email"> Email </label>
              <input type="text"
                     class="form-control"
                     id ="email"
                     placeholder="admin@mail.ru"
                     [(ngModel)]="email" name="email"
              required email>
            </div>
            <div class="form-group" >
              <label for= "password">Password </label>
              <input type="password"
                     class="form-control"
                     id ="password" placeholder="1A2b3456"
                     [(ngModel)]="password" name="password"
                     required>

            </div>
            <div >
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block center-block"
                    [disabled]="form.invalid"
                    >Login</button>
              </div>
          </form>
        </div>
        <span class="center-align">{{statusMassage}}</span>
      </div>
    </div>
  </div>
</div>
